html{
   scroll-behavior: smooth;
}
html, body {
 padding: 0;
 margin: 0;
 text-rendering: optimizeLegibility;
 }
body {
  margin: 0;
  color:black;
/*background-size: cover;*/
 font-family: Verdana, sans-serif;
 font-size: 100%;
 background-color:white;
 background-image:url(img/background.jpg);
 height: 100%;
 background-repeat: no-repeat;
 -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
 }
 embed {
align-items: center
 }

 h1 {
 color: white;
 font-size: 4rem !important;
 font-weight: 1000;
 line-height: 1.125;
 text-align: left;
 margin-left: 10%;
 font-family: 'Yusei Magic', sans-serif;
 }
 z {
    background: transparent;
    margin-left: auto;
margin-right: auto;
}
p {
  color: black;
  text-align: center;
  font-weight: 400;
  font-size: 1.6em;
font-family: 'Open Sans Condensed', sans-serif;
}
h2 {
 font-size: 150%;
 color: white;
text-align: left;
margin-left: 20%;
 /* font-family: Verdana, sans-serif; */
 font-family: "eurostile", sans-serif;
 }
 mini {
   color: black;
     font-family: "eurostile", sans-serif;
 }
#titr {
  font-size: 160%;
  color: white;
  text-align: center;
  margin-left: 0%;
  font-family: 'Yusei Magic', sans-serif;

}
ul,li,td {
 color: black;
 }
a:link {
 color: green;
 text-decoration: underline;
 }
a:visited {
 color: gray;
 }
a:hover {
 color: red;
 text-decoration: none;
}
a:active, a:focus {
 color: red;
}
.boutonMenuPrincipal {
background-color: transparent;
color: white;
border: 0;
cursor: pointer;
padding:0px;
margin-top:0px;
font-size: 1em;
animation: bounceIn 0.6s;
transform: rotate(0deg) scale(1) translateZ(0);
transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
}
.boutonMenuPrincipal:hover {
background-color: transparent;
  transform: rotate(15deg) scale(1.1);
}
@keyframes bounceIn {
  0% {
    opacity: 1;
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  70% {
    opacity: 1;
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.dropdown {
  position: absolute;
  top: 7%;
  left: 93%;
display: inline-block;

}
.dropdown-child {
display: none;
background-color: transparent;
min-width: 10%;
}
.dropdown-child a {
  margin: 0;
color: white;
padding-top: 25%;
padding-right: 50%;
text-decoration: none;
display: block;
text-align: center;
}
.dropdown:hover .dropdown-child {
display: block;
}
.middle{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* .Prez{
  position: absolute;
  top: 0%;
  left: 0%;
} */
.corps{
    position: absolute;
    top: 250%;
    left: 37%;
    /* transform: translate(-50%,-50%); */
    .container { -webkit-box-flex: 1; flex-grow: 1; margin: 0 auto; position: relative; width: auto; }
  }
.tekst{
  position: relative;
  /* top: 90%; */
  padding: 0%;
}
#Haut {
  color: #bdbdbd;
  text-align: left;
  font-size: 1.3em;
}
#pp {
  position: absolute;
  top: 40%;
  left: 75%;
    border-radius: 50%;
}
.mouse{
  width: 25px;
  height: 45px;
  border: 2px solid #ecf0f1;
  border-radius: 60px;
}
/* .footer {
justify-content: center;
background-color: #45a1ff;
color: #fff;
position: relative;
top: 500%;
width: 100%;
background-color: dark blue;
color: white;
text-align: center;
}*/
#formulairebb{
  /* margin: -6.2645%; */
  width: 100%;
  position: absolute;
  /* top: 579%; */
  bottom: 53%;
}
#tela{
  color: #023bbf;
font-size: 150%;
  font-family: 'Yusei Magic', sans-serif;
   text-align: center;
}
#marque{
  position: relative;
  top: 9950%;
}
#oui{
  color: #023bbf;
  font-family: 'Teko', sans-serif;
    font-size: 2em;
}
#pop {
  font-size: 1.2em;
font-family: 'Kufam', cursive;
}
#hand{
  font-size: 1.2em;
font-family: 'Kufam', cursive;
color: white;
}
#yep{
  position: absolute;
  top: 1250px;
}
img.pip{
  display: block;
margin-left: auto;
margin-right: auto
}
.rectangle{
  position: absolute;
  left: 0%;
  top: 140%;
  width: 100%;
  height: 40%;
  background-color:   #023bbf;
  border: 0px solid #ecf0f1;
  border-radius: 0px;
}
.droite{
  position: absolute;
  right:18.4%;
  top: 165%;
  width: 21%;
  height: 101%;
background: linear-gradient(170deg, white, white);
    /* background-color:   #d3a2fb ; */
  border: 1px solid #c7c7c7;
  border-radius: 0 1em 1em 0;}
.droite:hover{
  box-shadow: 8px 8px 12px #aaa;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}
.milieu{

  width: 21%;
  height: 101%;
  background: linear-gradient(white, white) ;
  border: 1px solid #c7c7c7;
  position: absolute;
left: 39.5%;
  top: 165%;
}
.milieu:hover{
  box-shadow: 8px 8px 12px  #aaa;

       -moz-box-shadow:    inset 0 0 10px #000000;
       -webkit-box-shadow: inset 0 0 10px #000000;
       box-shadow:         inset 0 0 10px #000000;
}
.gauche{
  position: absolute;
  left: 18.4%;
  top: 165%;
  width: 21%;
  height: 101%;
  background: linear-gradient(190deg, white, white);
  border: 1px solid #c7c7c7;
  border-radius: 1em 0 0 1em;
}
.gauche:hover{
  box-shadow: 8px 8px 12px #aaa;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}
.footer {
   position: absolute;
   top: 630%;
   width: 100%;
   height: 30%;
   background-color: transparent;
   color: white;
}
.samy{
  position: absolute;
  width: 100%;
  height: 130%;
  background-color: #023bbf;
  text-align: center;
}
.github{
  position: absolute;
  bottom: 0%;
  left: 40%;
}
.linkedin{
  position: absolute;
  bottom: 0%;
  right: 40%;
}
#profil{
  color: #023bbf;
}
#wesh{
  margin: 0;
  position: absolute;
  width: 18%;
  top: 300%;
  left: 40%;
}
#Profile{
position: absolute;
top: 400%;
width: 20%;
left: 40%;
}
#Cont{
  position: absolute;
  top: 500%;
  width: 20%;
  left: 40%;
}
#Contact{
  color: #023bbf;
  text-align: center;
}
#pcontact{
  position: absolute;
  left: -100%;
}
#contactp{
  position: absolute;
  left: 150%;
  width: 120%;
}
.container {
  position: absolute;
  top: 330%;
  left: 14%;
  width: 18%;
  border-radius: 4%;
  border: 2px solid #023bbf;
}

.image {
  display: block;
  width: 100%;
  height: auto;
    border-radius: 4%;
}

.overlay {
  position: absolute;
  top: 0%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #023bbf;
  border-radius: 4%;
}

  .container:hover .overlay {
    opacity: 0.92;
  }

  .text {
    color: white;
    font-size: 1.1em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .containerhm {
    position: absolute;
    width: 18%;
    border-radius: 4%;
    border: 2px solid #023bbf;
    left: 41%;
    top: 335%;
  }

  .imagehm {
    display: block;
    width: 100%;
    height: auto;
      border-radius: 4%;
  }

  .overlayhm {
    position: absolute;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #023bbf;
    border-radius: 4%;
  }

    .containerhm:hover .overlayhm {
      opacity: 0.92;
    }

    .texthm {
      width: 100%;
      color: white;
      font-size: 1.1em;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
    .containerhc {
      position: absolute;
      right: 14%;
      top: 330%;
      width: 18%;
      border-radius: 4%;
      border: 2px solid #023bbf;
    }

    .imagehc {
      display: block;
      width: 100%;
      height: auto;
        border-radius: 4%;
    }

    .overlayhc {
      position: absolute;
      top: 0%;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #023bbf;
      border-radius: 4%;
    }

      .containerhc:hover .overlayhc {
        opacity: 0.92;
      }

      .texthc {
        color: white;
        font-size: 1.1em;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }
.mouse::before{
  content: "";
  width: 6.25px;
  height: 6.25px;
  position: absolute;
  top: 7.5Spx;
  background:  #ecf0f1;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  opacity: 1;
  animation: mouse 2s infinite;
}
#tox{
  /* position: absolute;
  top: 25%;
  left: 0%; */
  position: absolute;
  top: 65%;
  left: -7%;
  width: 90%;
  height: 10%;
}
.animated-title {
  color: white;
  font-family: 'Yusei Magic', sans-serif;
  font-size: 5em;;
  height: 90vmin;
  position: absolute;
  /* left: 34%;
  top: 50%; */
  top: 5%;
  left: 11%;
  /* transform: translate(-50%, -50%); */
  width: 100vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 6vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid white;
  top: 0;
  width: 40%;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: grey;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}
  @keyframes showTopText {
    0% { transform: translate3d(0, 100%, 0); }
    40%, 60% { transform: translate3d(0, 50%, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }
  @keyframes showBottomText {
    0% { transform: translate3d(0, -100%, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }
  @keyframes mouse {
    from{
      opacity: 1;
      top: 7.5px;
    }
    to{
      opacity: 0;
      top: 37.5px;
    }
